<!DOCTYPE html>
<html>
<% include head.ejs %>
<link rel="stylesheet" href="/css/xmascard.css"/>
<body>

<div id="xmascard">
    <div class="card-txt">
        <div  id="card-h"><%= card.source.form.message %></div>
    </div>
    <div id="card-img"><img src="<%= card.source.images.low_resolution.url %>"></div>
    <div class="card-txt">
        <div id="card-f">TO: <%= card.source.form.to %></div>
    </div>
    <div id="user">
        <p>created by <a href="http://instagram.com/<%= card.user.username %>" target="_blank"><%= card.user.username %></a></p>
    </div>
</div>

</body>
</html>