<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<h1><a href="<%= card.igsrc%>"><%= card.author %></a><%= message %></h1>

<img src="<%= card.imgsrc %>">
<p>created by <%= card.author %> at <%= card.date%></p>
</body>
</html>